* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  line-height: 1;
}

header {
  z-index: 0;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  width: 100%;
}

.nav_bar {
  width: 100%;
  position: relative;
}

.nav_left {
  float: left;
  position: absolute;
  margin-left: 2%;
}

.nav_left a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: 30%;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  top: 5px;
}

.nav_left img {
  position: relative;
  margin-right: 12px;
  top: 10px;
  width: 2%;
  left: 0;
}

.logo_container img{
  display: block;
  position: relative;
  top: 0px;
  width: 16%;
  height: 10%;
  left: 40%;
}

.nav_right {
  position: absolute;
  padding: 5px;
  float: right;
  width: 35%;
  right: 0;
  top: 0%;
}

.btn-nav_right1 {
  float: right;
  transition: background-color 0.5s ease;
  cursor: pointer;
  padding: 9px 19px;
  font-size: 9px;
  margin: 5px;
  font-weight: bold;
  color: white;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  position: relative;
}

.btn-nav_right2 {
  float: right;
  padding: 9px 19px;
  font-size: 9px;
  margin: 5px;
  font-weight: bold;
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  width: 20%;
  position: relative;
}

.nav_right img {
  position: relative;
  width: 10%;
}

.btn-nav_right1:hover {
  background-color: rgb(50, 104, 145);
}

.disclaimer_bottom {
  position: fixed;
  width: 100%;
  height: 9%;
  bottom: 0;
  border: 1px solid rgb(0,0,0);
}

.text1_bottom {
  position: relative;
  font-family: nyt-franklin;
  left: 40%;
  font-weight: bold;
  top: 30%;
}

.text2_bottom {
  position: relative;
  left: 49%;
  top: 30%;
  font-weight: bold;
}

.arrow_bottom {
  position: relative;
  width: 2%;
  height: auto;
  right: -50%;
  top: 30%;
}
