* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  line-height: 1.5;
  font-size: 22px;
}

header {
  z-index: 0;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  width: 100%;
}

article {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  max-width: 1200px;
  padding-top: 30px;
  margin: 0 auto 0 auto;
  margin-top: 35px;
}

article > * {
  grid-column: 2 / -2;
}

h1{
  top: 15px;
  font-family: nyt-cheltenham;
  font-size: 40px;
  font-style: italic;
  margin-bottom: 5%;
}

figcaption {
  font-size: 15px;
  font-family: nyt-imperial;
  color: #666;
}

iframe{
  margin-top: 5%;
}

iframe figcaption{
  bottom: 0;
}

.nav_bar {
  width: 100%;
  background-color: white;
  top: 0;

}

.nav_left {
  float: left;
  position: absolute;
  margin-left: 2%;
}

.nav_left a {
  position: relative;
  text-decoration: none;
  color: black;
  font-weight: bold;
  width: 30%;
  font-size: 14.25px;
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  line-height: 19px;
  top: 5px;
}

.nav_left img {
  position: relative;
  margin-right: 12px;
  top: 10px;
  width: 2%;
  left: 0;
}

.logo_container img{
  display: block;
  position: relative;
  top: 0px;
  width: 16%;
  height: 10%;
  left: 40%;
}

.nav_right {
  position: absolute;
  padding: 5px;
  float: right;
  width: 35%;
  right: 0;
  top: 0%;
}

.btn-nav_right1 {
  float: right;
  transition: background-color 0.5s ease;
  cursor: pointer;
  padding: 9px 19px;
  font-size: 9px;
  margin: 5px;
  font-weight: bold;
  color: white;
  background-color: rgb(86, 123, 149);
  border: 1px solid rgb(50, 104, 145);
  border-radius: 3px;
  position: relative;
}

.btn-nav_right2 {
  float: right;
  padding: 9px 19px;
  font-size: 9px;
  margin: 5px;
  font-weight: bold;
  color: black;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 3px;
  width: 20%;
  position: relative;
}

.nav_right img {
  position: relative;
  width: 10%;
}

.btn-nav_right1:hover {
  background-color: rgb(50, 104, 145);
}

.title {
  width: 64.5%;
}

.disclaimer_bottom {
  position: fixed;
  width: 100%;
  height: 9%;
  background-color: white;
  bottom: 0;
  border: 1px solid rgb(0,0,0);
}

.text1_bottom {
  position: absolute;
  font-family: nyt-franklin;
  left: 30%;
  font-weight: bold;
  top: 30%;
}

.text2_bottom {
  position: absolute;
  left: 55%;
  top: 30%;
  font-weight: bold;
}

.arrow_bottom {
  position: absolute ;
  width: 2%;
  height: auto;
  right: -50%;
  top: 30%;
}

.image-wrapper {
  grid-column: 1 / -1;
}

.image-wrapper > img {
  margin-left: 5%;
  max-width: 85%;
  height: auto;
}

.image-wrapper figcaption {
  width: 70%;
  margin-left: 15%;
}

.chart_img {
  margin-top: 5%;
  margin-bottom: 5%;
  position: relative;
  width: 180%;
  margin-left: -40%;
}

.chart {
  width: 100%;
  height: auto;
}

.subs_ad1 {
  width: 40%;
  margin-left: 30%;
}

.credit {
  font-size: 13px;
  color: #888;
}

.row1-text1 {
  position: absolute;
  top: 30%;
  width: 26%;
}

.row1-text2 {
  position: absolute;
  top: 30%;
  left: 27%;
  width: 22%;
  margin-right: 20px;
}

.row1-text3 {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 23%;
}

.row1-text4 {
  position: absolute;
  left: 76%;
  top: 30%;
  width: 23%;
}

.row2-text1 {
  position: absolute;
  top: 74%;
  width: 22%;
}

.row2-text2 {
  position: absolute;
  top: 74%;
  width: 23%;
  left: 27%;
}

.row2-text3 {
  position: absolute;
  top: 74%;
  width: 23%;
  left: 50%;
}

.row2-text4 {
  position: absolute;
  top: 74%;
  width: 23%;
  left: 76%;
}

.chart_img h2 {
  font-size: 30px;
  line-height: 24px;
  margin:0;
}

.chart_img p {
  font-size: 15px;
  color: #666;
  margin: 2px;
}

.chart_img hr{
  width: 10%;
  margin-top: 4%;
}

.authors {
  position: absolute;
  margin-top: 8%;
}

.second-text p{
  margin-left: 15%;
  margin-top: 80px;
  font-size: 20px;
  font-weight: 400;
  width: 70%;
}

.image-wrapper2 {
  width: 100%;
  grid-column: 1 / -1;

}

.image-wrapper2 img {
  margin-top: 2%;
  margin-left: 0%;
  max-width: 100%;
  height: auto;
}


#preamble {
  font-family: nyt-franklin;
}

#preamble .author {
  color: #333;
  font-size: 15px;
  font-weight: 700;
  margin-top: 5%;
}

#preamble .author a {
  color: #333;
}

#preamble .date {
  font-size: 13px;
  font-weight: 500;
  float: left;
}

.social { 
  top: 0;
  font-size: 0.8rem;
  cursor: pointer;
}

.social li {
  display: inline-block;
  margin-left: 12px;
}

.social li:nth-child(-n+4) {
  width: 29px;
  height: 29px;
  line-height: 29px;
  text-align: center;
  border-radius: 50%;
  background-color: #eeeeef;
}

.social li:nth-child(n+5) {
  color: #666;
} 

.social li:nth-child(-n+4):hover {
  background-color: #fff;
  border: 1.5px solid #eeeeef;
}

.social li:nth-child(n+5):hover {
  color: #eeeeef;
}
.readmore{
    background-color: rgb(86, 123, 149);
    color: white;
    display: block;
    font-family: nyt-franklin, helvetica, arial, sans-serif;
    font-size: 0.8125rem;
    font-weight: 600;
    letter-spacing: 0.05em;
    line-height: 1.5rem;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(50, 104, 145);
    border-image: initial;
    border-radius: 3px;
    padding: 5px 0px;
    margin-right: auto;
    width: 50%;
}


.share-tab{
  display: flex;
  align-items: center;
  justify-content: left;
}

.suggestions{
  margin-left: 10%;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
}
.suggestions-left{
  display:flex;
  flex: 2 1 auto;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
}
.single-article-suggestion{
  flex: 1 1 25%;
  padding: 3px 8px;
}
.s-titles {
  font-weight: medium;
  font-family: 'Roboto Slab', serif;
  clear: right;
}
.suggestions-left h2{
  font-size: medium;

}